<!-- Navbar Right Menu -->
<!-- Navbar Right Menu -->
<div th:fragment="unlogined" class="navbar-custom-menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="nav navbar-nav">
        <li>
            <a href="login.html" th:href="@{/login}"> Login</a>
        </li>
        <li>
            <a href="register.html" th:href="@{/register}">Register</a>
        </li>
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>
</div>

<div th:fragment="logined" class="navbar-custom-menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!--<li class="dropdown messages-menu">-->
            <!--&lt;!&ndash; Menu toggle button &ndash;&gt;-->
            <!--<a th:href="@{#}" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-envelope-o"></i>-->
                <!--<span class="label label-success">8</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="header">You have 8 messages</li>-->
                <!--<li>-->
                    <!--&lt;!&ndash; inner menu: contains the messages &ndash;&gt;-->
                    <!--<ul class="menu">-->
                        <!--<li>&lt;!&ndash; start message &ndash;&gt;-->
                            <!--<a th:href="@{#}">-->
                                <!--<div class="pull-left">-->
                                    <!--&lt;!&ndash; User Image &ndash;&gt;-->
                                    <!--<img th:src="@{adminlte/img/user2-160x160.jpg}" class="img-circle" alt="User Image">-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Message title and timestamp &ndash;&gt;-->
                                <!--<h4>-->
                                    <!--Support Team-->
                                    <!--<small><i class="fa fa-clock-o"></i> 5 mins</small>-->
                                <!--</h4>-->
                                <!--&lt;!&ndash; The message &ndash;&gt;-->
                                <!--<p>Why not buy a new awesome theme?</p>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; end message &ndash;&gt;-->
                    <!--</ul>-->
                    <!--&lt;!&ndash; /.menu &ndash;&gt;-->
                <!--</li>-->
                <!--<li class="footer"><a href="#">See All Messages</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--&lt;!&ndash; /.messages-menu &ndash;&gt;-->

        <!--<li class="dropdown notifications-menu">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-bell-o"></i>-->
                <!--<span class="label label-warning">2</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li class="header">You have 2 notifications</li>-->
                <!--<li>-->
                    <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                    <!--<ul class="menu">-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<i class="fa fa-users text-aqua"></i> You have a homework-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">-->
                                <!--<i class="fa fa-warning text-yellow"></i> Your English scores have been published-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="footer"><a href="#">View all</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img th:src="@{adminlte/img/user2-160x160.jpg}" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                    <div>
                        <a th:if="${session.user.role==2||session.user.role==1}" th:href="@{/user/courseList}"><img th:src="@{adminlte/img/user2-160x160.jpg}"
                                                               class="img-circle" alt="User Image" width="90px"
                                                               height="90px"></a>
                        <a th:if="${session.user.role==3}" th:href="@{/admin/course/courseList}"><img th:src="@{adminlte/img/user2-160x160.jpg}"
                                                                                                                    class="img-circle" alt="User Image" width="90px"
                                                                                                                    height="90px"></a>
                    </div>
                    <p>
                        Alexander Pierce - Web Developer
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a th:if="${session.user.role==2||session.user.role==1}" th:href="@{/user/information}" class="btn btn-default btn-flat">information</a>
                    </div>
                    <div class="pull-right">
                        <a th:href="@{/user/logout}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
            <a th:href="@{#}" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
    </ul>
</div>
