.p-20{
	padding: 20px;
}
.p-15{
	padding: 15px;
}
.c-333{
	color: #333333;
}
.fsize15{
	font-size: 15px;
}
.fsize16{
	font-size: 16px;
}
.fsize18{
	font-size: 18px;
}
.fsize20{
	font-size: 20px;
}
.bookmark-box{
	background-image: url(../img/bookmark.PNG);
	font-size: 16px;
	float:left;
	width: 30px; 
	height: 30px;
	text-align: center;
	color: white;
	padding-top: 2px;
}
.quension-des{
	margin-left: 10px;
	font-size: 18px;
}
.select-p{
	font-size: 18px;
	margin-right: 10px;
	float: left;
}
.float-l{
	float: left;
}
.float-r{
	float:right
}
.answer-des{
	float: left;
	width:80%;
}
.register-bigbutton{
	background-color: #605ca8;
	color: white;
	width: 160px;
	height: 50px;
	font-size: 22px;
	margin: 20px;
}
.background-blue{
	background-color: #605ca8;
	color: white;
}
.absolute-center{
	text-align:center;
    vertical-align:middle !important;
}
.border-gray{
	border: 1px solid #DCDCDC;
}
.margin-top-10{
	margin-top: 10px;
}
.chat-text-right{
	width: -webkit-fit-content;
	float: right;
	margin-right: 10px !important;
}
.chat-text-left{
	width: -webkit-fit-content;
	float: left;
	margin-left: 10px !important;
}
.chat-time-left{
	float: left;
	margin-left: 5px;
}
.chat-time-right{
	float: right;
	margin-right: 5px;
}
.bg-gray-light2{
	background-color: #e7e7e7;
}

.user-bigimage{
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
 @keyframes hover-color {  from { border-color: #c0c0c0;}to { border-color: #3e97eb; }}
.magic-radio, .magic-checkbox { position: absolute; display: none; }
.magic-radio[disabled], .magic-checkbox[disabled] { cursor: not-allowed; }
.magic-radio + label, .magic-checkbox + label { position: relative; display: block; padding-left: 30px; cursor: pointer; vertical-align: middle; }
.magic-radio + label:hover:before,  .magic-checkbox + label:hover:before { animation-duration: 0.4s; animation-fill-mode: both; animation-name: hover-color; }
.magic-radio + label:before,  .magic-checkbox + label:before { position: absolute; top: 0; left: 0; display: inline-block; width: 20px; height: 20px; content: ''; border: 1px solid #c0c0c0; }
.magic-radio + label:after,  .magic-checkbox + label:after { position: absolute; display: none; content: ''; }
.magic-radio[disabled] + label, .magic-checkbox[disabled] + label { cursor: not-allowed; color: #e4e4e4; }
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,  .magic-checkbox[disabled] + label:hover,  .magic-checkbox[disabled] + label:before,  .magic-checkbox[disabled] + label:after { cursor: not-allowed; }
.magic-radio[disabled] + label:hover:before,  .magic-checkbox[disabled] + label:hover:before { border: 1px solid #e4e4e4; animation-name: none; }
.magic-radio[disabled] + label:before,  .magic-checkbox[disabled] + label:before { border-color: #e4e4e4; }
.magic-radio:checked + label:before, .magic-checkbox:checked + label:before { animation-name: none; }
.magic-radio:checked + label:after, .magic-checkbox:checked + label:after { display: block; }
.magic-radio + label:before { border-radius: 50%; }
.magic-radio + label:after { top: 7px; left: 7px; width: 8px; height: 8px; border-radius: 50%; background: #3e97eb; }
.magic-radio:checked + label:before { border: 1px solid #3e97eb; }
.magic-radio:checked[disabled] + label:before { border: 1px solid #c9e2f9; }
.magic-radio:checked[disabled] + label:after { background: #c9e2f9; }
.magic-checkbox + label:before { border-radius: 3px; }
.magic-checkbox + label:after { top: 2px; left: 7px; box-sizing: border-box; width: 6px; height: 12px; transform: rotate(45deg); border-width: 2px; border-style: solid; border-color: #fff; border-top: 0; border-left: 0; }
.magic-checkbox:checked + label:before { border: #3e97eb; background: #3e97eb; }
.magic-checkbox:checked[disabled] + label:before { border: #c9e2f9; background: #c9e2f9; }
.demo { width: 360px; margin: 50px auto 10px auto; padding: 10px; }
.demo img { width: 90% }
.demo h3 { font-size: 1.5em; line-height: 1.9em }
.col { margin-top: 20px }
.col h4 { height: 40px; line-height: 40px }
.opt { height: 30px; line-height: 24px ;margin-left: 5px;}

.shortselect{  
    background:#fafdfe;  
    height:28px;  
    width:100%;  
    line-height:28px;  
    border:1px solid #9bc0dd;  
    -moz-border-radius:2px;  
    -webkit-border-radius:2px;  
    border-radius:2px;  
}
.myslide{
	width: 240px;
	height: 90px;
	position: fixed;
	top: 50%;
	margin-top: -126px;
	right: 15px;
	border-radius: 5px 0 0 5px;
	z-index: 999;
}
.myslide .hint{
	height: 60px;
	width: 90px;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	color: black;
	float: right;
	background: #FFFFFF;
	padding: 10px;
	box-shadow: 1px 1px 3px 2px #888888;

}
.myslide .time{
	height: 60px;
	width: 150px;
	font-size:20px;
	text-align: center;
	vertical-align: middle;
	color:black;
	float: right;
	background: #FFFFFF;
	padding-top:15px;
	box-shadow: -1px 1px 3px 2px #888888;
}
.common_textarea{
	width: 75%;
	float: right;
	height: 90px;
}
.common_label{
	height:90px;
	padding-top: 35px;
	float: right;
}
.my_tip{
	text-align: center;
	color: #20b426;
}